<!-- <img src="assets/images/ILTQq.png" alt="image" style="width: 200pt; height: 200pt;"> -->

<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->

<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
  <mat-tab label="Listening">
    <app-listening></app-listening>
  </mat-tab>

  <mat-tab label="Speaking">
    <app-speaking></app-speaking>
  </mat-tab>

  <mat-tab label="Writing">
    <app-writing></app-writing>
  </mat-tab>
  
  <mat-tab label="Vocabulary">
    <app-vocabulary></app-vocabulary>
  </mat-tab>
</mat-tab-group>